---
layout: page
title: Vocabulario
permalink: /vocabulario.html
---
# Vocabulario Controlado

Para comprender mejor los términos que utiliza José Hernández para referirse a la ropa, los utensilios y otros elementos de la vida cotidiana, así como las expresiones que ejemplifican refranes y proverbios, elaboramos un
glosario que puede consultarse en la Plataforma de servicios terminológicos de la Facultad de Filosofía y Letras de la Universidad de Buenos Aires: **[Glosario gauchesco del *Martín Fierro*](https://terminologias.filo.uba.ar/vocabs/1008)**

